:root {
  --yellow-buttons: rgb(254, 204, 76);
  --orange-text: orange;
  --green: green;
  --red-text: red;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
body {
  margin: 0;
  background-color: rgb(27, 27, 50);
}
main {
  width: 50%;
  margin: auto;
}
h1 {
  text-align: center;
  color: white;
}
button {
  background-color: var(--yellow-buttons);
  border: none;
  padding: 0.2em 0.4em;
}
button:hover {
  cursor: pointer;
}
fieldset {
  margin-top: 0.5rem;
}
fieldset:last-of-type {
  margin-bottom: 1rem;
}
#calculateButton,
#clearButton {
  margin-top: 1rem;
}
input {
  display: block;
}
#outputInfo {
  margin: auto;
  width: fit-content;
  text-align: center;
  margin-top: 2rem;
}
.deficit {
  color: var(--red-text);
}
.surplus {
  color: var(--orange-text);
}
.congratulations {
  color: var(--green);
}
.red {
  border: 1px solid var(--red-text);
}
.orange {
  border: 1px solid var(--orange-text);
}
.green {
  border: 1px solid var(--green);
}
span {
  font-weight: bold;
  padding: 0.3rem;
  margin: 0.5rem;
  border-bottom: 1px solid white;
}
span:hover {
  animation: border 0.3s ease-in-out forwards;
  cursor: pointer;
}
@keyframes border {
  from {
    border: 1px solid white;
  }
  to {
    border: 1px solid var(--green);
  }
}
p {
  margin: 0;
}

#developerDiv {
  text-align: center;
  margin-top: 2rem;
}
#developer {
  margin-top: 7px;
  color: var(--yellow-buttons);
}
